/target
**/target/
**/*.rs.bk
*.pdb
*.polkavm
.DS_Store
.idea/
.vscode/
doom1.wad
*.prod
/freedoom/bundle/
/libresector/bundle/
/freedoom/*.zip
.env
/duke3d/shareware/3dduke13.zip
/duke3d/shareware/DUKE3D.GRP
/duke3d/shareware/LICENSE.TXT
/duke3d/bundle/.bulletin-deploy/
.env.*
/.tmp/
