/target/
/.tmp/
/dist/
/node_modules/
**/target/
**/*.rs.bk
*.pdb
*.polkavm
__pycache__/
*.pyc
*.prod
.DS_Store
.idea/
.vscode/
.env
.env.*

/apps/*/bundle/
/apps/scene-lab/assets/
/content/*/bundle/
/content/freedoom/*.zip
/content/librequake/*.zip
/content/duke3d-shareware/*.zip
/content/duke3d-shareware/DUKE3D.GRP
/content/duke3d-shareware/LICENSE.TXT
